
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
/*Start of Media query for smartphones*/
@media screen and (max-width: 660px) {

  p{
    font-size:130%;
  }
  h3{
    font-size:150%;
  }
  header{
    height:80px;
    position:relative;
  }
#logo{
  margin:15px;
}

#menu-icon{
  display: inline-block;
}

nav:hover ul{
  display: block;
}
nav ul, nav:active ul {
  display: none;
  z-index: 1000;
  position: absolute;
  padding: 20px;
  background: #F5F5F5;
  border: 1px solid #A5BDCD;
  right: 20px;
  width: 50%;
  border-radius: 3px 0 3px 3px;
  opacity: .95;
}

nav li{
  text-align: center;
  width: 100%;
}

.one-third{
  float:left;
  width: 100%;
}

.icon-wrap{
  height: 80px;
  width: 80px;
  margin-top: 3%;
}
.icon-wrap i{
  font-size: 250%;
  padding-top: 27%;
}

}

/*End of Media query for smartphones*/

*{
  margin:0;
  border:0;
  padding:0;
}
body{
  background:#f1f6f8;
  font-family:sans-serif;
  margin:0 auto;
}

#wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.banner-wrapper{
  max-width:1200px;
  margin:0 auto;
  padding: 0 0 3% 0;
}
header{
  width:100%;
  height:100px;
  top:0;
  left:0;
}
#logo {
  margin:20px;
  float:left;
  width:120px;
  height:60px;

}

p{
  font-family: 'Alegreya Sans', sans-serif;
  color:#524C56;
  font-size:160%;
  line-height:155%;
  padding:3%;
  text-indent:2%;
  text-align:justify;
}
h3{
  font-size:175%;
  line-height: 155%;
  font-weight: 500;
  color: #524C56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

/*--- Start of Navigation bar--*/

a{
  color:#524C56;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #C3D7DF;
}

nav{
  float:right;
  padding:25px 20px 0px 0px;
}
#menu-icon{
  display: hidden;
  width: 40px;
  height:40px;
  background: url(../images/nav-dark.png) center;
}
ul{
  list-style:none;
}

nav ul li{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 150%;
  display: inline-block;
  float:left;
  padding: 10px;
}
nav ul li a{
  color:#6991AC;
}
.current{
  color: #69C569;
}
a:hover{
  color: #69C569;
}


/* start of Slider*/

.slider{
  max-width:1200px;
}

.slider1 img{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*Start of Images*/
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

/*One-Third Start*/
.one-third{
  width: 33.333333%;
  float:left;
  text-align: justify;
  text-align: center;
}

.icon-wrap{
  margin:0 auto;
  width: 120px;
  height:120px;
  border-radius: 125%;
  text-align: center;
  background-color: #00cc00;
  margin-top: 8%;
  margin-bottom: 3%;
}

.icon-wrap i{
  text-align: center;
  color: #F0F0F0;
  font-size: 450%;
  padding: 20%;
}
.left-col{
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}
.sidebar{
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}

.one-third-padding {
 width: 29%;
 float: left;
 margin: 2% 2%;
text-align: justify;
}

.clearfix-padding{
  clear: both;
  padding: 2%;
}

/*--- Start of footer ---*/
footer{
  background:#69C569;
  width: 100%;
  overflow: auto;
}
.icon-text{
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon{
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text{
  width: 64%;
  float: left;
  padding: 4% 4% 2% 0;
}
.footer-nav{
  text-align: right;
}
.footer-nav a{
  font-size: 160%;
  color: #C3D7DF;
  font-weight: 300;
}
.footer-nav a:hover{
  color: #F5F5F5;
}
.social{
  list-style-type:none;
  text-align: center; 
}
.social li{
  display: inline;
}
.social i{
  font-size: 380%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #C3D7DF;
}
.social i:hover{
  color: #F5F5F5;
}
footer.second{
  border-top: 1px solid #AADCD2;
  background-color: #544B59;
  max-height: 50px;
  text-align: center;
  margin: 0;
}
footer.second p{
  padding: 5px 0 9px 0;
  text-align: center;
  color: #f5f5f5;
  font-size: 160%;
  line-height: 155%;
}